@import "./index.css";
@import "./fonts.css";
@import "./blog-post-listing.css";
@import "blockquote.css";

body {
    max-width:80%;
    margin:auto;
    padding:5px;
}
.blog-entry{
    display: grid;
    grid-template-columns: 1fr;
    max-width:90%;
    margin:auto;
    padding:15px;
    border:1px solid gray;

}

@media(min-width-500px) {
.blog-entry {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blog-entry {
    border: 1px dashed gray;
    width: 45%;
    }
}
@media(min-width-800px) {
    .blog-entry {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .blog-entry {
        border: 1px dashed gray;
        width: 45%;
        }
    }
    