@import "../css/index.css";
body{
    margin:2% 2%;
    align-items: center;
    padding: 0;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: ;
    border: 2px solid yellow;
    border-radius: 8px;
    padding: 3%;    
}

.img-box {
    display:flex;
    flex-direction:row;
    height: 390px;
    width: 300px;
    border: 2px solid #30303042;
    border-radius: 8px;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
}
.gallery-img {
    width: 100%;
    height: auto;
    padding: 1%;
}
.gbx {
    height: 90%;
    width: auto%;
    padding: 2%;
}
.self-portrait {
    height: 90%;
    width: auto%;
    padding: 2%;
}
figcaption {
    /* padding-left:30%; */
    text-align: center;
    color: rgb(227, 152, 14);
}
@media (min-width:700px) {
    .gallery {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2px;
    }
    .gallery-img {
        width:90%;
        height:auto;
        justify-content: center;
    }
    .gbx {
        height: 85%;
        width: auto%;
        padding: 2%;
    }
    .self-portrait {
        height: 90%;
        width: auto%;
        padding: 2%;
    }
}
@media (min-width:950px) {
    .gallery {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2px;
    }
    .gallery-img {
        width:85%;
        height:auto;
        justify-content: center;
    }
    .gbx {
        height: 70%;
        width: auto%;
        padding: 2%;
    }
    .self-portrait {
        height: 70%;
        width: auto%;
        padding: 2%;
    }
}