@import "./nav.css";
@import "./css/fonts.css";
@import "./footer.css";
@import "./blockquote.css";

* {
  /* initialize all padding and margins to 0 */
  padding: 0;
  margin: 0;
}

body {
  font-family: Macondo, sans-serif;
  border: 2px solid tomato;
  box-shadow: 0px 2px 20x 0px;
  border-radius: 8px;
  background-color: darkolivegreen;
  align-items: center;
  justify-content: center;
  padding-left: auto;
  padding-right: auto;
  min-width: 250px;
}

.logo > * {
  height: 100px;
  width: auto;
  border: 2px solid rgb(23, 13, 211);
  border-radius: 8px;
  margin-top:2px;
  margin-left:2px;
}
.site-name, h1 {
  display:inline-flex;
  text-decoration: none;
  color:rgb(35, 40, 128);
  font-family:Macondo cursive, sans-serif;
  font-size: 1.5em;
}

.pg-hdr {
  display:flex;
  flex-direction: row;
  margin: 2px;
  align-items: center;
  align-content: center;
  Border: 3px solid yellow;
  border-radius: 8px;
}
.blog-post-hdr {
  margin: 15px 2px 15px 2px;
  text-align: center;
  height:80px;
  Border: 1px solid yellow;
  border-radius: 8px;
  padding-bottom: .5m;
}
.blog-post-hdr h1 {
  margin-top: 20px;
}

.container {
  /*this defines layout for the small mobile screens */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  max-width: 2400px;
}
.article-img {
  width: 28%;
  height: auto;
  float: left;
  border: 1px solid goldenrod;
  border-radius: 10%;
  box-sizing: border-box;
  margin-right:2px;
}
.box {
  border: 2px solid lightblue;
  margin:10px;
  padding: 3px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px 0px;
  box-sizing: border-box;
  font-family:Ariel, cursive;
}
article .box p {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  padding-left: 3px;
}
article p a:last-child::after {
  content:"continue reading...";
}


@media(min-width:650px) {
  .pg-hdr{
    align-content:center;
    justify-content: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:auto;
    /* grid-template-areas: ar ar; */
    grid-gap: 2px;
  }
  /* nav{
    display: flex;
    flex-direction: row;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
  } */
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media(min-width:950px){
  .container{
    grid-template-columns: repeat(3, 1fr);
  }
  article .box p {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media(min-width:1300px){
  .container{
    grid-template-columns: repeat(4,1fr);
  }
  img {
    margin:3px;
    margin-top:5px;
  }
} 
